{{#unless isDeletedOrHidden}}
  {{mediasuite-select-box
    value=value
    label=formElement.label
    options=formElement.options
    optionValuePath='value'
    optionLabelPath='label'
    errors=(get-errors state formElement index)
    update=(action 'updateState')
  }}
  {{#if showDeleteButton}}
    <button {{action delete formElement index}} class="delete">Delete</button>
  {{/if}}
{{/unless}}
