{{#if display}}
  {{#if formElement.help}}
    <div>{{formElement.help}}</div>
  {{/if}}
  {{#each values as |value index|}}
    {{mediasuite-radio-buttons
      value=value
      inlineGroupLabel=formElement.label
      options=formElement.options
      optionValuePath='value'
      optionLabelPath='label'
      update=(action 'updateState' index)
    }}
  {{/each}}
  {{#if formElement.repeatable}}
    <button {{action 'add'}}>Add</button>
  {{/if}}
{{/if}}
