{{#unless isDeletedOrHidden}}
  {{mediasuite-check-box
    checked=stateValue
    label=formElement.label
    update=(action 'updateState' index)
    errors=(get-errors state formElement index)
  }}
  {{#if showDeleteButton}}
    <button {{action delete formElement index}} class="delete">Delete</button>
  {{/if}}
{{/unless}}
