{{#unless isDeletedOrHidden}}
  {{mediasuite-radio-buttons
    value=value
    inlineGroupLabel=formElement.label
    options=formElement.options
    optionValuePath='value'
    optionLabelPath='label'
    update=(action 'updateState')
    errors=(get-errors state formElement index)
  }}
  {{#if showDeleteButton}}
    <button {{action delete formElement index}} class="delete">Delete</button>
  {{/if}}
{{/unless}}
