{{#if display}}
  {{#each values as |_val index|}}
    <!-- Using a helper here to get the substate, rather than _val.  This the sub-sections get fresh state when
       it changes, and don't have to force values to update, which would cause an unwanted re-render -->
    {{dynamic-form/manage-form-elements
      formElements=formElement.formElements
      state=(get-substate state formElement index)
      updateState=(action 'updateState' index)
    }}
  {{/each}}
  {{#if formElement.repeatable}}
    <button {{action 'add'}}>Add</button>
  {{/if}}
{{/if}}
