{{#unless isDeletedOrHidden}}
  {{dynamic-form/manage-form-elements
    formElements=formElement.formElements
    state=stateValue
    errors=(get-errors state formElement index)
    updateState=(action updateState)
    delete=(action delete)
  }}
  {{#if showDeleteButton}}
    <button {{action delete formElement index}}>Delete</button>
  {{/if}}
{{/unless}}
