{{#if display}}
  {{#if formElement.help}}
    <div>{{formElement.help}}</div>
  {{/if}}
  {{#each values as |value index|}}
    {{dynamic-form/text/text-field
      formElement=formElement
      state=state
      index=index
      updateState=updateState
      delete=delete
    }}
  {{/each}}
  {{#if formElement.repeatable}}
    <button {{action 'add'}}>Add</button>
  {{/if}}
{{/if}}
